footer{
    color: rgb(20, 20, 20);
}

header {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    background-color: rgb(223, 223, 223);
    color: rgb(20, 20, 20);
}

.box {
    opacity: 0.8;
    font-size: 16px;
    transition: all, 0.2s;
}

.parallax {
    background-image: linear-gradient(rgba(201, 201, 201, 0.8), rgba(201, 201, 201, 0.8)), url('szent_laszo.JPG');
}

body {
    color: rgb(255, 255, 255);
}

.bar1,
.bar2,
.bar3 {
    background-color: rgb(20, 20, 20);
}

.sidenav {
    color: rgb(20, 20, 20);
    background-color: rgba(223, 223, 223);
}

.sidenav a {
    color: rgb(20, 20, 20);
}

.sidenav a:hover {
    color: rgb(20, 20, 20);
}